.description {
    padding-top: 110px;
    &__title {
        color: #FFFFFF;
        margin: 0 auto;
        font-size: 40px;
        text-align: center;
    }
    &__logo {
        display: block;
        margin: 10px auto;
    }
    &__descr {
        color: #FFFFFF;
        margin-top: 35px;
        font-size: 24px;
        text-align: center;
    }
    &__btn {
        display: block;
        width: 120px;
        margin: 20px auto;
        font-size: 14px;
        background: none;
        border-radius: 5px;
        border-color: #FFFFFF;
        color: #FFFFFF;
        cursor: pointer;
        transition: border-color 0.3s ease;
    }
    &__btn:hover {
        border-color: #e49f9f;
    }
}