.menu {
    padding-top: 30px;
    padding-bottom: 200px;
    position: relative;
    background: url('../../img/bg/main_bg.jpg') center center/cover no-repeat;
    &__list {
        margin-top: 52px;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        padding-left: 150px;
        max-width: 355px;
        list-style-type: none;
        a {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
    &__link {
        font-size: 12px;
        color: #FFFFFF;
        &-text {
            font-size: 12px;
            font-weight: normal;
        }
        &-logo {
            position: absolute;
            margin: -22px -40px;
        }
    }
}

.information {
    padding-top: 110px;
    &__title {
        color: #FFFFFF;
        margin: 0 auto;
        font-size: 40px;
        text-align: center;
    }
    &__logo {
        display: block;
        margin: 10px auto;
    }
    &__descr {
        color: #FFFFFF;
        margin-top: 35px;
        font-size: 24px;
        text-align: center;
    }
    &__btn {
        display: block;
        width: 120px;
        margin: 20px auto;
        font-size: 14px;
        background: none;
        border-color: #FFFFFF;
        color: #FFFFFF;
        cursor: pointer;
    }
}